elpa/
.git/
url/
.youdao
*.el~
*.org~
init-better-defaults.el
init-function.el
init-keybindings.el
init-org.el
init-packages.el
init-ui.el
recentf
smex-items
abbrev_defs
ac-comphist.dat
init-abbrev-table.el